{#
    Display slideshow for front-office :
    NOTE : This view is call using Ajax and doesn't inherit template.
    Required :
    - slideshow : slideshow to display (as Slideshow)
#}

<div id="slideshow-container">

    {% set cssStyleToUse = slideshow.activBorder ? 'border: ' ~ slideshow.thicknessValue ~ 'px solid #' ~ slideshow.borderColor ~';' : '' %}

    <ul id="picture-list">
    {# Browse each picture to build main slideshow #}
    {% for picture in slideshow.pictures %}
        <li class="picture-item">
            <div class="container">
                <img src="{{ picture.pictureUrl }}" alt="{{ picture.name }}" style="{{ cssStyleToUse }}" class="picture-fullscreen"
                    data-width="{{ pictureWidth(picture.pictureUrl) }}" data-height="{{ pictureHeight(picture.pictureUrl) }}" />
                <span class="picture-button">
                    <img src="{{ asset('resources/images/fullscreen.png') }}" alt="+" />
                </span>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div class="picture-number">XX / {{ slideshow.pictures|length }}</div>

</div>
