{#
    Allows to list all available slideshows. It allows to add/edit/delete slideshow.
    Required :
    - sectionList : list of all sections available to search slideshow (as Slideshow).
    - slideshowList : list of all slideshows available (as Slideshow).
#}

{% extends "::admin.html.twig" %}

{% block body %}

    <h1>Gestion des diaporamas</h1>

    <div class="sep-15"></div>

    {# Display all slideshow found #}
    <table class="bo-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Nom</th>
                <th class="bo-table-label">Page</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody>
        {% for slideshow in slideshowList %}
            <tr{% if loop.index is even %} class="odd"{% endif %}>
                <td class="bo-table-id">{{ slideshow.id }}</td>
                <td class="bo-table-label {% if not slideshow.published %}disabled{% endif %}">{{ slideshow.name }}</td>
                {% set sectionName = (slideshow.section is empty ? '<span class="no-section">- Aucune -</span>' : slideshow.section.name) %}
                <td class="bo-table-label">{{ sectionName|raw }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('bodu_slideshow_bo_edit', { 'id': slideshow.id }) }}" >
                        <img src="{{ asset('resources/images/admin/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('bodu_slideshow_bo_delete', { 'id': slideshow.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-15"></div>

    <a class="add-button" href="{{ path('bodu_slideshow_bo_edit') }}">Ajouter un diaporama</a>

    <div class="sep-20"></div>

    <div id="slideshow-search">

        <h2>Chercher un diaporama</h2>

        {# Form to filter slideshow to display #}
        <form action="{{ path('bodu_slideshow_bo_list') }}" method="get">

            <div class="container">

                <div class="left w-50">
                    <label for="slideshow-name">Nom du diaporama</label>
                    <input type="text" id="slideshow-name" name="slideshow-name" class="field-M" />
                </div>

                <div class="right w-50">
                    <label for="">Page</label>
                    <select id="slideshow-section" name="slideshow-section" class="field-M">
                        <option value="-1">-- Aucune --</option>
                        <option value="0">-- Toutes --</option>
                        {% for  section in sectionList %}
                            <option value="{{ section.id }}">{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="clear"></div>

            </div>

            <div class="right"><input type="submit" class="button" value="Chercher" /></div>

        </form>

    </div>

    <div class="sep-20"></div>

{% endblock %}
