<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    <title>{% block title %}Back-office{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('resources/images/favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/admin.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/global.js') }}"></script>

    {% block header %}{% endblock %}

    </head>

<body>

    <div id="page">

        <div id="header">


            <div id="bo-top">
                <img src="{{ asset('resources/images/admin/logo.png') }}" alt="Back Office" />
                <span><a href="{{ path('bodu_home_fo') }}">Retour au site</a> | <a href="{{ path('logout') }}">Déconnexion</a></span>
            </div>
            {% include 'layout/menuBO.html.twig' %}
            <div class="clear"></div>
            <div class="sep-grey"></div>

        </div>

        <div class="sep-10"></div>

        {% if(app.session.flashbag.has('bo-error-message')) %}
            <div class="bo-error-message">
            {% for message in app.session.flashbag.get('bo-error-message') %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% if(app.session.flashbag.has('bo-warning-message')) %}
            <div class="bo-warning-message">
            {% for message in app.session.flashbag.get('bo-warning-message') %}
                {{ message }}<br/>
            {% endfor %}
            </div>
        {% endif %}
        {% if(app.session.flashbag.has('bo-log-message')) %}
            <div class="bo-log-message">
            {% for message in app.session.flashbag.get('bo-log-message') %}
                {{ message }}<br/>
            {% endfor %}
            </div>
        {% endif %}

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <div class="clear"></div>
        <div class="sep-30"></div>

    </div>

</body>

</html>
