{#
    Display login form => authentication for BO access
#}

<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    <title>Authentification</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('resources/images/favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/admin.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/global.js') }}"></script>

</head>

<body>

    <div id="page">

        <div id="header"><h1>AUTHENTIFICATION</h1></div>

        <div class="sep-20"></div>

        <div id="content">

            <form action="{{ path('login_check') }}" method="post">

                <div id="login-form">
                    <label for="username">Login :</label>
                    <input type="text" id="username" name="_username" /><br/>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password" /><br/>
                </div>

                <div class="sep-20"></div>
                <div class="center">
                    <input type="submit" class="button" value="Se connecter" />
                </div>

            </form>

        </div>

    </div>

</body>

</html>
