{#
    Display slideshow for front-office with vertical thumbnail on left.
    NOTE : This view is call using Ajax and doesn't inherit template.
    Required :
    - slideshow : array of news (as News)
#}

{% extends "::master.html.twig" %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/lib/slick.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/home.js') }}"></script>

</script>

{% endblock %}

{% block body %}

<div id="banner-container">

    <ul id="banner-list">
    {# Browse each picture to build main slideshow #}
    {% for banner in bannerList %}
        <li>
            <img src="{{ banner.pictureUrl }}" alt="{{ banner.title }}" width="900" height="548" />
        </li>
    {% endfor %}
    </ul>

</div>

<div class="sep-30"></div>

<div id="home-popup"></div>

{% endblock %}
