{#
    Allows to edit video.
    Required :
    - videoToEdit : FormView element based on VideoType object (i.e. video to edit).
#}

{% extends "::admin.html.twig" %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/lib/jquery.cleditor.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.cleditor.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#bodu_videobundle_video_description").cleditor({height: 170});
        });
    </script>

{% endblock %}

{% block body %}

    {% if (videoToEdit.vars.value.id) %}
    <h1>Modification de la vidéo</h1>
    {% else %}
    <h1>Ajout d'une vidéo</h1>
    {% endif %}

    <form action="{{ path('bodu_video_bo_edit', { 'id': videoToEdit.vars.value.id }) }}" method="post" {{ form_enctype(videoToEdit) }}>

        <div class="field-set">

            {{ form_label(videoToEdit.name, "Nom de la vidéo") }}
            {{ form_widget(videoToEdit.name, { 'attr': {'class': 'field-M'}, 'max_length' : '255' }) }}
            {{ form_errors(videoToEdit.name) }}

            <div class="field-set-separator"></div>

            {{ form_label(videoToEdit.description, "Description") }}
            {{ form_widget(videoToEdit.description) }}
            {{ form_errors(videoToEdit.description) }}

            <div class="field-set-separator"></div>

            {{ form_label(videoToEdit.videoIntegration, "Intégration de la vidéo") }}
            <span class="comment">
                Permet d'indiquer le flux pour intégrer la vidéo depuis un hébergeur (vimeo, youtube, dailymotion...).<br/>
                Ce flux est de type : &lt;iframe src="..." ... /&gt;<br/>
                Ce flux est obtenu depuis la vidéo de l'hébergeur : partager &gt; intégrer<br/>
            </span>
            {{ form_widget(videoToEdit.videoIntegration, { 'attr': {'class': 'field-L'} }) }}
            {{ form_errors(videoToEdit.videoIntegration) }}

            <div class="field-set-separator"></div>

            {{ form_widget(videoToEdit.published) }}
            {{ form_label(videoToEdit.published, "Publication") }}
            {{ form_errors(videoToEdit.published) }}

            {{ form_rest(videoToEdit) }}

        </div>

        <div class="sep-20"></div>

        <div class="save-button"><input type="submit" value="" /></div>

    </form>

    <div class="sep-20"></div>

{% endblock %}
