{#
    Display contact + link for front-office
    Required :
    - linkList : array of link (as ContactLink)
#}

{% extends "::master.html.twig" %}

{% block body %}

<span class="contact-link">
    <a href="mailto:patrick@bodu.fr">patrick@bodu.fr</a>
</span>

<div class="sep-10"></div>

<div class="sep-20"></div>

{% if (linkList|length > 0) %}

    <div class="sep-10"></div>

    <span class="contact-website">Liens</span>

    <div class="sep-30"></div>

    <div class="w-50 left">
    {% for link in linkList %}
        {% if (loop.index % 2 == 1) %}
            <div class="link-item">
                <h2>{{ link.title }}</h2>
                {% if (link.pictureUrl) %}
                    <div class="link-picture left">
                        <img src="{{ link.pictureUrl }}" alt="-" width="160" height="80" />
                    </div>
                {% endif %}
                <div class="link-content">
                    {{ link.content|raw }}
                </div>
                <div class="clear"></div>
                {% if (link.link) %}<a href="{{ link.link }}" target="_blank" class="more-link" ></a>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="w-50 right">
    {% for link in linkList %}
        {% if (loop.index % 2 == 0) %}
            <div class="link-item">
                <h2>{{ link.title }}</h2>
                {% if (link.pictureUrl) %}
                    <div class="link-picture left">
                        <img src="{{ link.pictureUrl }}" alt="-" width="160" height="80" />
                    </div>
                {% endif %}
                <div class="link-content">
                    {{ link.content|raw }}
                </div>
                <div class="clear"></div>
                {% if (link.link) %}<a href="{{ link.link }}" target="_blank" class="more-link" ></a>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="sep-20"></div>

{% endif %}

{% endblock %}
